@font-face {
  font-family: 'IBMPlexMono';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/IBMPlexMono-Regular.woff2") format("woff2"),
       url("../fonts/IBMPlexMono-Regular.woff") format("woff");
}
@font-face {
  font-family: 'IBMPlexMono';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/IBMPlexMono-Italic.woff2") format("woff2"),
       url("../fonts/IBMPlexMono-Italic.woff") format("woff");
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/IBMPlexMono-Medium.woff2") format("woff2"),
       url("../fonts/IBMPlexMono-Medium.woff") format("woff");
}
@font-face {
  font-family: 'IBMPlexMono';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"),
       url("../fonts/IBMPlexMono-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBMPlexMono';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/IBMPlexMono-Bold.woff2") format("woff2"),
       url("../fonts/IBMPlexMono-Bold.woff") format("woff");
}
@font-face {
  font-family: 'IBMPlexMono';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/IBMPlexMono-BoldItalic.woff2") format("woff2"),
       url("../fonts/IBMPlexMono-BoldItalic.woff") format("woff");
}
